html{
	scroll-behavior: smooth;
}
body{
	
	margin: 10px;
	padding: 0;
	background-size: cover;
}
.head{
	text-shadow: 1px 1px 2px cyan;
}
.container{
	padding: 40px;
	margin-top: 50px;
	border: 2px solid black;
}
.text-danger{
	letter-spacing: 5px;
	font-weight: bold;
	text-shadow: 1px 1px 0 black;
}
#time{
	text-shadow: 1px 1px 2px cyan;
}
#title{
	border: 2px solid black;
	padding: 20px;
	background: linear-gradient(120deg,transparent 80%,black 20%);
	border-radius: 20px;
}